<%- include('./includes/head') %> 
<%- include('./includes/nav') %> 

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Phonebook</h1>

      <p class="text-center lead">All your contacts listed in a simple and beautiful way.</p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Error</div>
        </div>
      </div>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Caio</td>
            <td>Martins</td>
            <td>+351 123456789</td>
            <td>caio@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer')  %> 

