<%- include('includes/head') %>
<section class="container">
  <h1><%= aGlobalVariable %></h1>
  <form action="/" method="POST">
    <label for="client">Client</label>
    <input type="text" name="client" id="client" />
    <button type="submit">Submit</button>
  </form>
</section>
<%- include('includes/footer') %>
